@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'bootstrap/dist/css/bootstrap.css';
@import 'react-dropdown/style.css';

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header.d-flex.align-items-center.position-absolute.w-100 {
  top: 38px;
  z-index: 3;
}div#root {
  overflow: hidden;
}
h1,h2,h3,h4,h5,h6 ,p{
  font-family: sans-serif;
}

header {
  top: 40px;
  z-index: 3;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar-brand span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: inherit;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  color: #2fb7a2;
 
}
span.Dropdown-arrow {
  display: none;
}


ul.navbar-nav.mb-2.mb-lg-0 {
  align-items: center;
}


a.navbar-brand {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-family: sans-serif;
}

.nav-item a {
  font-size: 18px;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 21px;
  letter-spacing: -0.03em;
  text-decoration: none;
  font-family: sans-serif;
  padding-bottom: 10px;
  position: relative;
}
p.text-light {
  margin-left: 42px;
}


li.cursor-pointer.hover\:bg-primary {
  padding: 3px 40px 3px 5px;
  margin: 5px;
}
.not-found {
  text-align: center;
}
h1.not-found-traits {
  font-size: 40px;
  color: white;
  text-align: center;
  text-transform: capitalize;
}
h1.not-found {
  color: white;
  font-size: 40px;
  text-transform: capitalize;
  margin-top: 5em;
}

.Dropdown-placeholder.is-selected {
  cursor: pointer;
}

ul.navbar-nav.mb-2.mb-lg-0 .nav-item {
  margin-left: 45px;
}

.title {

font-family: sans-serif;  font-style: normal;
    font-size: 60px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: -0.03em;
    background: linear-gradient(103.6deg, #FFFFFF 10.7%, #666666 82.38%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 0;
}
img.star-banner{
  margin-top: -55px;
  margin-left: -22px;
}
 .star-icon{
  width: 40px;
}
img.star-why {
  margin-right: -10px;
  margin-top: -115px;
}
.subtitle {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -0.03em;
    background: linear-gradient(101.21deg, #16906F 5.98%, #2fb7a2 68.02%), #FFFFFF;
    background: linear-gradient(101.21deg, #16906F 37.98%, #2fb7a2 68.02%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.subtitle.trader-concept {
  background: linear-gradient(101.21deg, #16906F 5.98%, #2fb7a2 53.02%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  font-weight: 700;
}
.btn-customize {
  font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #fff !important;
    width: 273px;
    height: 57px;
    background: url("../../public/btn\ background.png");
    vertical-align: middle;
    padding-top: 11px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

.banner-section {
   background: linear-gradient(151.14deg, rgba(85, 186, 147, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
   height: 100vh;
   min-height: 700px;
    background-image: url('../../public/banner-section.png'), url("../../public/banner-bg.png");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   background-color: #000;
}

.circles {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 100%;
    display: inline-block;
}


.banner-circle-half {
  left: -290px;
  right: 0;
  margin: auto;
}
.circle-half{
  background:url("../../public/Ellipse-half.png");
    background-size: contain;
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    width: 124px;
    padding: 12px;
    margin-top: -17px;
}

img.small-graph {
  position: absolute;
  width: 105px;
  margin-left: 178px;
  margin-top: -175px;
  z-index: 0;
}
.community-btn{
  align-items: center;
}
.nav-tabs .nav-link {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 34.58px;
  text-align: center;
  letter-spacing: -0.03em;
  color: rgba(255, 255, 255, 0.5);
  padding: 0;
  margin-right: 65px;
  border: 0 !important;
}
.nav-tabs .nav-link:last-child {
  margin-right: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: transparent !important;
  border: 0;
  color: #fff !important;
}
.nav-link:focus, .nav-link:hover, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  color: #fff !important;
  border: 0 !important;
}

.tabs-bg{
  background-repeat: no-repeat;
    background-size: contain;
    padding-left: 24px;
}

.pt-10 {
  padding-top: 6rem!important;
}

.pb-10 {
  padding-bottom: 10rem!important;
}

.pt-6 {
  padding-top: 4rem!important;
}

.z-index-1 {
  z-index: 1;
}

.subtitle-large {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(101.21deg,#16906f 44.98%,#2fb7a2 68.02%);
  -webkit-background-clip: text;
  font-family: sans-serif;
  background-clip: text;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -.03em;
  line-height: 117px;
  margin-top: -35px;
  text-align: center;
}


.why-circle-half {
  left: 365px;
  right: 0;
  margin: auto;
  top: 45px;
}
@media (max-width:468px) {
  .carousel-content {
    max-width: 188px !important;
    margin: auto;
}
}
@media(min-width:768px) and (max-width:992px){

  img.small-graph {
    margin-left: auto;
    margin-top: auto;
    width: 65px;
    top: 230px;
    left: 185px;
    margin-right: auto;

  }
video.d-md-none {
    top: 5% !important;
    flex-direction: column;
    position: absolute !important;
    margin-top: 40px;
    z-index: 1;
    right: 10% !important;
}
}
@media(min-width:992px) and (max-width:1021px){
  video.d-md-none {
    top: 5% !important;
    flex-direction: column;
    position: absolute !important;
    margin-top: 40px;
    z-index: 1;
    right: 17% !important;
}
}

@media(min-width:768px)
{
  .footer-btn.footer-download {
    height: 10vh;
  }
  .understand-top-head {
    text-align: initial !important;
}

}
@media(min-width : 1024px){
  .footer-btn.footer-download {
    height: 10vh;
  }
  
}
.why-choose-grid .grid > .grid-inner{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.why-choose{
  background-image: url("../../public/why-choose.png");

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.why-choose-grid .container {
  max-width: 830px;
}


.why-choose-grid .container > div > div {
  padding: 5px;
}


section.testimonials:after {
  content: '';
  background: linear-gradient(180deg, rgba(85, 186, 147, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  width: 75%;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}
section.testimonials.bg-black.position-relative.pt-10.pb-10 {
  z-index: 0;
  width: 100%;
  overflow: hidden  ;
}
section.accordion.bg-black.pt-10.pb-10 {
  width: 100%;
  overflow: hidden;
}


section.spacer {
  height: 130px;
} 

h1.faqs-title {
font-family: sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 115.14px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.footer-section h4 {
  font-style: normal;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.footer-links h4{
  font-family: sans-serif;
}

.footer-section a {
  font-style: normal;
  font-family: sans-serif;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: rgba(255, 255, 255, 0.5) !important;
}
.footer-section li {
  padding-bottom: 20px;
}
.footer-section a:hover {
  color: #fff !important;
  cursor: pointer;
}
.accordion-button:not(.collapsed)::after {
  color: red !important;
  opacity: 0.6;
  filter: grayscale(1);
}

button.accordion-button:not(.collapsed) {
  border: 1px solid !important;
  border-bottom: 00 !important;
  border-radius: 10px 10px 0 0 !important;
  border-image-source: linear-gradient(to left, rgba(255,255,255, 0.06), rgba(255,255,255, 0.4)) !important;
  border-image-slice: 1 !important;
}

.accordion-collapse {
  border-width: 0px 1px 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-radius: 0px 0px 10px 10px !important;
  border-image-source: linear-gradient(to left, rgba(255,255,255, 0), rgba(255,255,255, 0.4)) !important;
  border-image-slice: 1 !important;
}

.accordion-item {
  margin-bottom: 20px;
}

button.accordion-button {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  padding: 20px 30px 10px 30px;
}

.accordion-collapse {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 35px;
  color: #FFFFFF;
}

.accordion-body {
  padding: 0px 30px 20px 30px !important;
  font-family: sans-serif;
}
button.accordion-button.bg-transparent.border-0.text-white.shadow-none.collapsed {
  font-family: sans-serif;
}
.grid-3 span {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.content-start {
  min-height: 500px;
  background-color: #000;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.content-start h1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 166px;
  text-align: center;
  letter-spacing: -0.03em;
  background: linear-gradient(101.21deg, #16906F 5.98%, #2fb7a2 68.02%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.banner-part{
  background: linear-gradient(151.14deg, rgba(85, 186, 147, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: url('../../public/graph-grid.png'), url("../../public/banner-bg-light.png");
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #000;
}
.star-com-banner {
  margin-right: -13px;
  margin-top: -75px;
}

.star-icon {
  width: 40px;
}

.subtitle-there {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.03em;
  background: linear-gradient(103.6deg, #FFFFFF 10.7%, #666666 82.38%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.title-other {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.03em;
  background: linear-gradient(101.21deg, #16906F 38.98%, #2fb7a2 68.02%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: -10px;
  margin-bottom: -48px;
}

.star-icon-other {
  width: 35px;
  margin-top: -40px;
}

.subtitle-there {
  padding-left: 45px;
}

.founder .btn-learn-more {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 114%;
  text-align: center;
  letter-spacing: -0.03em;
  width: 170px;
  display: block;
  height: 46px;
  padding-top: 8px;
}

.founder h2 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 60px;
  letter-spacing: -0.03em;
  background: linear-gradient(103.6deg, #FFFFFF 10.7%, #666666 82.38%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 0;
}

.founder p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600!important;;
  font-size: 20px!important;;
  line-height: 20px !important;
  letter-spacing: -0.03em;
  background: linear-gradient(101.21deg, #16906F 5.98%, #2fb7a2 27.02%), linear-gradient(103.6deg, #FFFFFF 10.7%, #666666 82.38%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 0;
  margin-left: 4px;
  text-align: left !important;
}

.raunak-linkedin img {
  width: 28px;
}

span.circles-outer {
    width: 346px;
    height: 346px;
  border-image-source: linear-gradient(205.8deg, rgba(255, 255, 255, 0.5) -20.81%, rgba(255, 255, 255, 0) 50.2%);
  border-radius: 100%;
  display: inline-block;
  border: 1px solid;
  backdrop-filter: blur(5px);
}
span.circles-center, span.circles-deep {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: hsla(0,0%,100%,.05);
  border-radius: 100%;
  display: inline-block;
  margin: auto;
  right: 0;
}


span.circles-center {
  width: 325px;
  height: 325px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: inline-block;
  border-radius: 100%;
  position: relative;
  left: -9px;
  top: 9px;
  right: 0;
  margin: auto;
}
span.circles-deep {
  width: 290px;
  height: 290px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: inline-block;
  border-radius: 100%;
  position: absolute;
  top: 28px;
  left: 24px;
  right: 0;
  margin: auto;
  z-index: 1;
  overflow: hidden;
}
span.circles-deep img {
  border: 10px solid transparent;
  width: 100%;
  border-radius: 100%;
  height: 100%;
}
.btn-learn-more{
  background-image: url("../../public/btn background.png");
  background-repeat: no-repeat;
    background-size: contain;
}

.founder {
  position: relative;
  z-index: 0;
  top: 22px;
  left: 30px;
}
.circle-group {
  position: relative;
  top: 9px;
}

.pb-6 {
  padding-bottom: 6rem!important;
}

.slide-box> div
{
    left: 0px;
    top: 0px;
    background: rgba(217, 217, 217, 0.1);
    padding: 25px 25px 10px;
    min-height: 320px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
}

.slide-box {
    padding: 20px 20px;
    cursor: pointer;
    min-height: 310px;
    position: relative;
}


.slide-box:hover:after {
  content: '';
  filter: blur(100px);
  position: absolute;
  top: 0;
  left: 0;
  width: 72%;
  height: 45%;
  z-index: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  background: linear-gradient(101.21deg, #16906F 38.98%, #2fb7a2 68.02%), #FFFFFF;
  opacity: 0.5;
}

.slide-box:hover .slick-inner{
  background-color: #000;
  position: relative;
  z-index: 1;
}
p.social-links img {
  width: 23px;
}

p.member-position {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.03em;
    background: linear-gradient(101.21deg, #16906F 21.98%, #2fb7a2 62.02%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 0;
}
img.team-member-image {
  width: 100px;
  border-radius: 100%;
  margin-bottom: 15px;
  height: 100px;
  object-fit: cover;
  object-position: top;
}
h2.member-name {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.03em;
    background: linear-gradient(103.6deg, #FFFFFF 10.7%, #666666 82.38%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 0;
}

.hide {
  display: none !important;
}

.slick-vertical .slick-slide {
  opacity: 0.1;

}

.slick-vertical .slick-slide.slick-active {
  opacity: 0.3;

}

.slick-vertical .slick-current.slick-active.slick-center{
  opacity: 1;

}

.banner-part p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.03em;
  color: rgba(255, 255, 255, 0.7);
}

.font-size-medium {
  font-size: 60px;
  line-height: 200px;
}
.title-2 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: -0.03em;
  background: linear-gradient(103.6deg, #FFFFFF 10.7%, #666666 82.38%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.small-paragraph {

  font-size: 14px !important;
  line-height: 28px !important;
}

.title-3 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.03em;
  background: linear-gradient(103.6deg, #FFFFFF 10.7%, #666666 35.38%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 0;
}

.description-team {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.bg-frame {
  border: 1px solid;
  border-radius: 10px;
  max-width: 600px !important;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 25px 0px !important;
  margin-bottom: 15px;
}
.bg-frame:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.bg-frame:last-child {
  position: relative;
  z-index: 1;
}

.bg-frame:last-child:after {
  background: linear-gradient(101.21deg, rgba(22, 144, 111, 0.2) 5.98%, rgba(255, 239, 95, 0.2) 68.02%), rgba(217, 217, 217, 0.1);
  filter: blur(100px);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.open-options-grid {
  position: relative;
}

.pt-7 {
  padding-top: 7rem;
}

.about-text {
  max-width: 566px;
  margin-left: auto;
  margin-right: auto;
}

h2.banner-subtitle-team.title-other.about-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 200px;
  
  background: linear-gradient(101.21deg, #16906F 45.98%, #2fb7a2 62.02%), #66FFD6;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2.banner-subtitle-team.title-other.about-title img {
  width: 90px;
}

.banner-about:after, .community-banner:after {
  /* content: ''; */
  background: linear-gradient(213.11deg, #16906F 19.73%, #2fb7a2 74.18%), #D9D9D9;
  opacity: 0.2;
  filter: blur(150px);
  position: absolute;
  bottom: 0;
  width: 900px;
  height: 200px;
  left: 0;
  right: 0;
  margin: auto;
  background-position: center;
  background-size: cover;
}

.banner-about, .community-banner {
  position: relative;
}
.community-banner {
  background-position: top;
}
.tabs-start-community li {
  font-size: 16px;
  max-width: 300px;
}
.community-max-width {
  max-width: 1000px;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: #fff;
  border-radius: 10px;  
  margin-top: 50px !important;
}
.nav-constructive {
  margin-left: -80px;
}
.tabs-start-community .nav-tabs .nav-link.active, 
.tabs-start-community .nav-tabs .nav-link:hover {
    color: #000 !important;
}

.tabs-start-community .nav-tabs .nav-link:after {
    transition: all .2s ease-in-out;
    position: absolute;
    top: 11px;
    height: 10px;
    content: "";
    background: #2fb7a2;
    border-radius: 100%;
    left: -25px;
    z-index: 0;
    width: 10px;
}

.tabs-start-community .nav-tabs .nav-link {
    position: relative;
}

.tabs-start-community .nav-tabs .nav-link.active:after, 
.tabs-start-community .nav-tabs .nav-link:hover:after {
    height: 78px;
    border-radius: 10px;
}
.community-banner button {
  position: relative;
}

footer.footer-section {
  position: relative;
  z-index: 1;
}
.star-banner {
  margin-top: -75px;
  margin-right: -13px;
  
}

.subtitle-community {
  font-size: 55px !important;
}

.community-circle-half {
  margin-left: -90px;
  margin-top: -69px;
}
.line-height {
  line-height: 54px;
}

.font-23 {
  font-size: 23px !important;
}
.timeline-founder{
  background: linear-gradient(151.14deg, rgba(85, 186, 147, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
  z-index: 2;
    position: relative;
}

.founder-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 78px;
  letter-spacing: -0.03em;
  background: linear-gradient(103.6deg, #FFFFFF 10.7%, #666666 33.38%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.founder-qoute {
  color: #fff;
  line-height: 30px;
  max-width: 720px;
  margin-bottom: 60px;
  font-size: 18px;
}
p.year {
  color: #fff;
}
.timeline-inner-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.03em;
  min-height: 110px;
  
}
.timeline-title-first{
  background: linear-gradient(101.21deg, #16906F 5.98%, #2fb7a2 38.02%), linear-gradient(103.6deg, #FFFFFF 47.7%, #666666 82.38%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.timeline-inner-content {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.03em;
  color: rgba(255, 255, 255, 0.7);
  min-height: 160px;
}

.timeline-box:after {
  content: '';
  width: 12px;
  height: 12px;
  background: linear-gradient(101.21deg, #16906F 5.98%, #2fb7a2 38.02%), linear-gradient(103.6deg, #FFFFFF 47.7%, #666666 82.38%), #FFFFFF;
  position: absolute;
  border-radius: 100%;
  top: 8px;
  left: 25px;
  z-index: 1;
}

.timeline-first {
  position: relative;
  padding-left: 70px;
  margin-top: 32px;
}

.timeline-box:before {
  /* content: ''; */
  width: 5px;
  height: 100%;
  position: absolute;
  top: 30px;
  left: 3px;
  background: #FFFFFF;
  opacity: 0.1;
}

.timeline-title-other {
  background: linear-gradient(103.6deg, #FFFFFF 10.7%, #666666 23.38%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.timeline-progress {
  position: absolute;
  z-index: 1;
  width: 4px;
  height: 100%;
  border-radius: 24px;
  background-color: #2f3035;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#14151f),color-stop(23%,#2f3035),color-stop(70%,#2f3035),color-stop(87%,#14151f));
  background-image: linear-gradient(180deg,#14151f,#2f3035 23%,#2f3035 70%,#14151f 87%);
  
  top: -32px;
  left: 41px;
  z-index: 0;
}

.scroll-bar {
  position: relative;
}

.timeline-progress-bar {
  position: fixed;
  bottom: 50vh;
  z-index: -1;
  width: 4px;
  height: 50vh;
  border-radius: 99px;
  background: linear-gradient(101.21deg, #16906F 5.98%, #2fb7a2 38.02%), linear-gradient(103.6deg, #FFFFFF 47.7%, #666666 82.38%), #FFFFFF;
}

.nav-item-link.active::after {
  content: '';
  border-bottom: 1px solid #FFFFFF;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0 -3px 19px 2px #ffffffc4;
}
.nav-item-button{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}
.nav-item-button:hover{
  left: 0;
  bottom: 0;
  color: white;
  border: 1px solid #16906F;
  width: 100%;
  height: 1px;
  background-color: transparent;
}
span.navbar-toggler-icon {
  background-image: url("../../public/toggle.png") !important;
  position: absolute;
    z-index: 1;
    right: 20px
}
.mt-n2 {
  margin-top: -1rem !important;
}
.banner-part.team-banner .circles-items {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}
button.nav-link img {
  width: 10px;
  opacity: 1 !important;
}
.tabs-bg.tabs-start {
  position: absolute;
  left: 0;
  padding-left: 120px;
}
.plr {
  padding: 0 40px !important;
}
section.banner-part.team-banner {
  background: linear-gradient(151.14deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
  min-height: 100%;
}

.collapse{
  visibility: visible;
}
.font-size-large {
  font-size: 60px;
  line-height: 60px;
  margin-top: 110px;
}
.timeline-box img {
  margin-bottom: 15px;
}
.slide-box {
  display: inline-block;
  width: 33.33%;
  vertical-align: top;
}
.team-slider{
  max-width: 1349px;
  margin-left: auto;
  margin-right: auto;
}
.text-join-us {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.03em;
  background: linear-gradient(103.6deg, #FFFFFF 10.7%, #666666 82.38%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.text-description-text h3 {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 20px;
}
.header_down_btn {
  background: #28b696;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid #28b696;
}


.taxt-description-text {
    color: #fff;
    position: absolute;
    top: 100px;
    font-family: sans-serif;
    display: none;
    font-size: 16px;
}


.text-description-text.active {
    display: block;
}
h1.home-banner-title {
  font-size: 48px !important;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 60px;
}
h1.home-banner-title span {
  background: #2fb7a2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.home-banner-text {
  font-size: 22px;
  color: #fff;
  margin-top: 26px;
}
.home-banner-image img {
  border-radius: 10px;
  max-width: 100%;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}
.home-banner-image {
  margin-top: -35px;
}

section.privacy-policy {
  padding-top: 145px;
  color: #fff;
}

section.privacy-policy h3, section.privacy-policy h4 {
  margin-top: 50px;
}
/* responsive css */
@media (min-width: 992px){
  span.navbar-toggler-icon-close {
    display: none;
  }
}


@media (max-width: 992px){
  header .collapse.active {
    width: 200px;
}
a.nav-item-button.text-white.header_down_btn {
  margin-right: 32px;
}
button.navbar-toggler {
  position: absolute;
  right: 10px;
  z-index: 9;
  top: 0px;
}
.justify-content-end {
  position: absolute;
  justify-content: flex-end !important;
  top: -33px;
  right: 0px;
  height: 100vh;
  z-index: 8;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  width: auto;
}
ul.navbar-nav.mb-2.mb-lg-0 {
  margin-top: 56px;
  float: right;
    text-align: end;
}
.header_down_btn {
  background: #28b696;
  padding:7px 10px;
  border-radius: 10px;
  font-size: 10px;
  border: 1px solid #28b696;
}
header .collapse {
    display: none !important;
    position: absolute;
    right: 0;
    transition: all .2s linear;
    width: 250px;
    height: 100vh;
    top: 0;
    text-align: right;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}
.navbar-expand-lg .navbar-toggler {
  display: block;
}

header ul.navbar-nav {
  padding-top: 80px;
}

header .nav-item {
    margin-left: 0;
    padding-bottom: 25px;
}
header span.navbar-toggler-icon-close {
  padding-right: 18px;
  padding-top: 30px;
  display: block;
}
.nav-item-link:hover::after {
  content: '';
  border-bottom: 1px solid #FFFFFF;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0 -3px 19px 2px #ffffffc4;
}
a.nav-item-link.active, a.nav-item-link:hover {
  background: linear-gradient(101.21deg, #16906F 5.98%, #2fb7a2 68.02%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.banner-section{
  min-height: auto;
  background-size: cover;
  padding-top: 112px;
  height: 600px;

}
header {
  top: 5px;
}
.container, .container-md, .container-sm {
  max-width: 100% !important;
}

button.navbar-toggler {
  padding-right: 0;
  
}
.tab-pane img {
  width: 100%;
}
.banner-part {
  background-size: cover;
}
.tabs-bg.tabs-start {
  position: initial;
  padding-left: 20px;
}

.ms-4.ps-5.tabs-content-community.text-center {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

div#nav-constructive {
  margin-left: 0;
}
}

.bg-transparent {
  padding: 0px 0px;
}
@media (max-width: 768px){
  .tab-pane img {
    width: 100%;
}
.circle-group {
  top: 16px;
}
.navbar-brand img {
  width: 50px;
}

.banner-title-team {
  line-height: 34px;
  font-size: 25px;
  padding-left: 24px!important;
}
.team-banner  .title-other {
  font-size: 52px;
  line-height: 46px;
}
.font-23 {
  font-size: 16px!important;
}
.founder p {
  font-size: 15px!important;
  line-height: 16px !important;
}
.slide-box {
  min-height: auto;
  width: 100%;
  padding: 20px;
}
.slide-box>div {
  min-height: 270px;
}
img.star-why {
  margin-right: -10px;
  margin-top: -70px !important;
}


.navbar-brand span {
    font-size: 16px;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 7px;
}

span.navbar-toggler-icon {
    width: 25px;
}


.understand-header {
  width: 100%;
}


header span.navbar-toggler-icon-close {
  padding-top: 15px;
}
.footer-links {
  font-family: sans-serif;
  margin: 20px 0;
}a.text-decoration-none{
  font-family: sans-serif;
}
.title {
  font-size: 32px;
  line-height: 42px;
}



.circle-half {
  width: 75px;
  padding: 7px;
}

.circles {
  width: 60px;
  height: 60px;
}

.banner-circle-half {
  left: -180px;
  margin-top: -7px;
}
.btn-customize {
  font-size: 16px;
  line-height: 30px;
  width: 245px;
  height: 52px;
}
.star-icon {
  width: 25px;
}

img.star-banner {
  margin-top: -28px;
  margin-left: -12px;
}
.banner-section {
  height: 730px;
}
.home-banner-image {
  margin-top: 35px !important;
}
.understand-stock-market h1, .understand-stock-market h2 {
  font-family: sans-serif;
  text-align: center;
}

img.small-graph {
  margin-left: auto;
  margin-top: auto;
  width: 65px;
  top: 117px;
  left: 94px;
  right: 0;
  margin-right: auto;
}
section.understand-stock-market.bg-black {
  padding-top: 50px !important;
}
.tabs-bg.tabs-start {
  margin-top: 0 !important;
  padding-bottom: 70px !important;

}

.nav-tabs .nav-link {
  margin-bottom: 12px;
}
.why-choose {
  padding-top: 0 !important;
}
.subtitle-large {
  font-size: 61px;
  font-family: sans-serif;
  line-height: 61px;
  margin-top: -13px;
}


}
 section.testimonials.bg-black {
  text-align: center;
  padding-top: 70px !important;  
  padding-bottom: 0px !important;
  width: 100%;
  overflow: hidden;

} 

section.testimonials:after {
  width: 100%;
} 


h1.faqs-title {
  font-size: 39px;
  text-align: center;
  line-height: 90px;
}

section.accordion.bg-black {
  padding-top: 20px !important;
  padding-bottom: 0 !important;
}

button.accordion-button {
  font-size: 16px;
  line-height: 28px;
  padding: 10px 15px 10px 15px;
  font-weight: 600;
}

.accordion-body {
  padding: 0px 10px 15px 15px !important;
}

.accordion-collapse {
  font-size: 16px;
  line-height: 30px;
}
.banner-part {
  background-size: cover;
}

section.banner-part.banner-about {
  background-size: cover;
  padding-top: 35px;
  min-height: auto;
}

p.text-center.about-text {
  padding-bottom: 50px !important;
  padding-top: 45px !important;
}

h2.banner-subtitle-team.title-other.about-title img {
  width: 70px;
}

h2.banner-subtitle-team.title-other.about-title {
  font-size: 21px;
  line-height: 131px;
}

.banner-part p {
  font-size: 16px;
  line-height: 26px;
}


h3.title-2.pt-10 {
  padding-top: 3rem !important;
}

.font-size-medium {
  font-size: 40px;
  line-height: 150px;
}

.title-2 {
  line-height: 27px;
  font-size: 24px;
}

.title-3 {
  font-size: 22px;
  line-height: 24px;
}
section.bg-black.open-options-grid {
  padding-bottom: 1rem !important;
}
.bg-frame {
  max-width: 95% !important;
}

.footer-bottom .footer-links {
  margin-bottom: 0;
}


.line-height {
  line-height: 34px;
}

.star-banner {
  margin-top: -31px;
  margin-right: -4px;
}
.community-circle-half {
  margin-left: -67px;
  margin-top: -40px;
}

section.banner-part.community-banner {
  padding-bottom: 80px !important;
  padding-top: 15px !important;
}

h1.founder-title {
  font-size: 48px;
  line-height: 50px;
  padding-top: 10px !important;
}

.timeline-inner-title {
  font-size: 18px;
  line-height: 24px;
}

.timeline-inner-content {
  font-size: 18px;
  line-height: 21px;
}

.timeline-first {
  padding-left: 70px;
}
.team-banner.title-other {
  font-size: 52px;
  line-height: 46px;
}


.banner-title-team {
  padding-left: 45px !important;
  line-height: 34px;
}




.circles-items.align-items-end {
  align-items: start !important;
  margin-top: 20px;
}

.circles-items .text-end {
  text-align: right !important;
}


.raunak-linkedin img {
  margin-top: 3px;
  margin-left: 8px;
}
.raunak-linkedin {
  float: left;
}

.slide-box {
  padding: 20px 20px;

}
h2.member-name {
  font-size: 20px;
  line-height: 30px;
}

p.member-position {
  font-size: 14px;
  line-height: 20px;
}
.slide-box > div{
  min-height: 270px;
}

div#nav-tab {
  justify-content: center;
}
.font-size-large {
  font-size: 40px;
}
.tabs-content-community video {
  margin-left: 0;
  width: 100%;
  height: 100%;
}
.tab-content > .active{
  text-align:-webkit-center;
  display: block;
}
.tab-content video{
  height:auto;
}
.text-join-us {
  font-size: 21px;
  line-height: 30px;
}
.tabs-start-community div#nav-tab {
  justify-content: start !important;
}

div#nav-quizzes-tab {
  margin-top: 10px !important;
}div#nav-tab {
  display: block;
}


.text-description-text {
  position: initial;
  font-size: 14px;
  margin-bottom: 20px
}
.text-description-text h3 {
  font-size: 17px;
}
h1.home-banner-title {
  font-size: 32px !important;
  line-height: 42px;
}

.home-banner-text {
  font-size: 18px;
}


.carousel-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 30px;
}

.carousel-content {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 20px;
  padding-bottom: 74px;
}

.carousel-content img {
  width: 80px;
}

.carousel-indicators {
  margin-right: 55% !important;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
justify-content: flex-start;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 4rem;
  margin-left: 23%;
}


.carousel-indicators [data-bs-target] {
  width: 7px !important;
  height: 7px !important;
  border-radius: 100px !important;
  border: 2px solid #fff!important;
  opacity: 1;
  background-color: transparent !important;
}
.carousel-indicators .active {
  opacity: 1;
  background-color: #fff !important;
}
.carousel-content{
  max-width: 340px;
  margin: auto;
}

/* animations css */


@media(min-width : 768px) and (max-width :1024px){
  .carousel-content {
    max-width: 200px !important;
    margin: auto;
}
.footer.second-last {
  margin: 20px auto;
}
}

.animatable {
  visibility: visible;
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}

.animated {
  visibility: visible;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}



@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	60% {
		-webkit-transform: translateX(20px);
	}

	80% {
		-webkit-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}

	60% {
		-moz-transform: translateX(20px);
	}

	80% {
		-moz-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}

	60% {
		opacity: 1;
		-o-transform: translateX(20px);
	}

	80% {
		-o-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}

	60% {
		transform: translateX(20px);
	}

	80% {
		transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}

	60% {
		-webkit-transform: translateX(-20px);
	}

	80% {
		-webkit-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}

	60% {
		-moz-transform: translateX(-20px);
	}

	80% {
		-moz-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}

	60% {
		-o-transform: translateX(-20px);
	}

	80% {
		-o-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}

	60% {
		transform: translateX(-20px);
	}

	80% {
		transform: translateX(5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	50% {
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes moveUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(40px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes moveUp {
	0% {
		opacity: 1;
		-moz-transform: translateY(40px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes moveUp {
	0% {
		opacity: 1;
		-o-transform: translateY(40px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes moveUp {
	0% {
		opacity: 1;
		transform: translateY(40px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}





.animated.bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}
.animated.bounceInRight {
	-webkit-animation-name: bounceInRight;
	-moz-animation-name: bounceInRight;
	-o-animation-name: bounceInRight;
	animation-name: bounceInRight;
}
.animated.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	-moz-animation-name: bounceInLeft;
	-o-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}
.animated.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}
.animated.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.animated.moveUp {
	-webkit-animation-name: moveUp;
	-moz-animation-name: moveUp;
	-o-animation-name: moveUp;
	animation-name: moveUp;
}

.delay-animation-300ms {animation-duration: 1.5s;}

.delay-animation-600ms {animation-duration: 2s;}


.home-banner h1.banner-title, .home-banner .banner-subtitle, .home-banner .btn-customize {
  cursor: pointer;
}

@media (max-width: 560px){
  .community-banner button:last-child {
    margin-top: 0 !important;
}
}



@supports (-webkit-overflow-scrolling: touch) {
  .bounceInLeft {
    visibility: visible;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-play-state: running;
    animation-name: bounceInLeft;
}

.bounceInRight {
  visibility: visible;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-play-state: running;
  animation-name: bounceInRight;
}
.bounceInRight {
  visibility: visible;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-play-state: running;
  animation-name: bounceInRight;
}

.bounceIn {
  animation-name: bounceIn;
  animation-duration: 2s;
  visibility: visible;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-play-state: running;
}
.delay-animation-600ms.bounceIn {
  animation-name: bounceIn;
  animation-duration: 2s;
  visibility: visible;
  animation-fill-mode: both;
  animation-play-state: running;
}
.fadeInDown {
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  visibility: visible;
}
.tab-pane.fade.active.show {
  display: block;
}
.fade {
  transition: opacity .15s linear;
}
.why-choose-grid .grid > .grid-inner{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
.slick-vertical .slick-slide {
  opacity: 0.1;

}

.slick-vertical .slick-slide.slick-active {
  opacity: 0.3;

}

.slick-vertical .slick-current.slick-active.slick-center{
  opacity: 1;

}
}
.slick-slider.slick-initialized {
  font-family: sans-serif;
}

.home-learn-more {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 114%;
  text-align: center;
  letter-spacing: -0.03em;
  width: 170px;
  height: 46px;
  padding-top: 13px;
  margin-top: 10px;
  display: block;
}
.indore-section {
  margin-bottom: 40px;
  margin-top: 40px;
}


.footer-btn.footer-download {
  display: flex;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 99;
  width: 100%;
  padding: 0em;
  text-align: center;
  box-shadow: 0 -1px 10px 0 rgb(0 0 0 / 20%), 0 1px 2px 0 rgb(0 0 0 / 14%), 0 5px 1px -1px rgb(0 0 0 / 12%);
  justify-content: center;
  align-items: center;
}
section.banner-part.pt-7.community-banner.pb-6 {
  overflow: hidden;
}

h1.footer-text-1 {
  margin-top: 5px;
  font-size: 18px;
}

.footer-btn-img img {
  max-width: 170px;
}

.footer-btn-img {
  padding: 6px 0;
  display: flex;
  justify-content: center;

}

span.footer_span {color:#078f4f; font-weight: bold;}

@media  (max-width: 768px){
  h1.footer-text-1 {
    font-size: 15px;
      text-align: center;
  }
  .footer-btn-img{

    justify-content: center;
  }.subtitle {
    font-size: 36px;
    line-height: 50px;
  }
  .team-banner .star-icon-other {
    margin-left: -10px;
    margin-top: -25px;
    width: 25px;
  }
  .subtitle-there {
    font-size: 25px;
    padding-left: 0!important;
  }
  span.circles-deep {
    width: 140px;
    height: 140px;
    top: 21px;
    left: 21px;
    right: auto;
  } 
  .circles-items .text-end {
    text-align: left !important;
  }
  .banner-part.team-banner {
    padding: 0 0  0 !important;
  }
  
  span.circles-center {
    height: 160px;
    left: 9px;
    top: 9px;
    width: 160px;
}
.founder .btn-learn-more {
  width: 110px;
  height: 30px;
  font-size: 14px;
  line-height: 2px;
  padding-top: 11px;
  float: left;
}
.founder h2 {
  font-size: 24px;
  line-height: 45px;
}

  .founder {
    left: 180px;
    top: -101px;
}
  .carousel-indicators{
    justify-content: center;
    margin-left: 15%;
  
  }
  span.circles-outer {
  width: 180px;
  height: 180px;
}
  button.button {
    color: gray;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: 900;
}
.banner-part.team-banner .circles-items {
  max-width: 380px !important;
}
.testimonials-users{
  text-align: -webkit-center;
}
  .footer-btn-img img {
    max-width: 115px;
}
section.testimonials:after {
  content: '';
  background: linear-gradient(180deg, rgba(85, 186, 147, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}
h1.understand-heading {
  color: white;
  margin-top: 20px;
  font-weight: 700;
  text-align:initial;
  margin-top: 25px;
  font-size: 18px;
}

p.understand-para {
  color: white;
  text-align: initial;
  font-size: 15px;
  margin-top: 25px;
}
h3.carousel-title {
  font-size: 18px;
  font-weight: 900;
  font-family: sans-serif;
  color: white;
  margin: 24px 0px;
}

p.carousel-content {
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.carousel-content{
  text-align: -webkit-center;
}
.star-com-banner {
  margin-right: -4px;
  margin-top: -40px;
}
.star-icon {
  width: 25px;
}
}

.flex_row
{
  justify-content: center;
  display: flex;
}

button.button {
  color: gray;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 34px;
  font-weight: 900;
}
button.button:hover{
  color: white;
}
h1.understand-heading {
  color: white;
  margin-top: 20px;
  font-weight: 700;
  text-align:initial;
  margin-top: 25px;
  font-size: 16px;
}

p.understand-para {
  color: white;
  text-align: justify;
  font-size: 15px;
  margin-top: 15px;
}
.understand-slider{
background: url("../../public/understand-bg.png");
background-size: cover;
    margin-left: -105px;
    font-family: sans-serif;
    background-position: right;
    padding-left: 105px;
    padding-top: 50px;

}

section.why-choose-grid.bg-black.pt-6.text-white {
  text-align: center;
}

.flex_row{
  justify-content: center;
  display: flex;
}
.testimonials-bg{
  text-align: center;
}
.flex_row h1{
  font-size: 40px;
  font-weight: 900;
  color: white;
}
section.testimonials:after {
  content: '';
  background: linear-gradient(180deg, rgba(85, 186, 147, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  width: 75%;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  z-index:-1;
}
.testimonials-user-page {
  padding: 0px 80px;
}
.testimonials-cover-page {
  text-align: -webkit-center;
}

h3.carousel-title {
  font-size: 18px;
  font-weight: 900;
  color: white;
  margin: 24px 0px;
}

p.carousel-content {
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.slick-slide.slick-active.slick-current img {
  width: 20%;
}

button.accordion-button.bg-transparent.border-1.text-white.shadow-none{

  font-family: sans-serif;
  border-bottom: 00 !important;
  border-radius: 10px 10px 0 0 !important;
  border-image-source: linear-gradient(to left, rgba(255,255,255, 0.06), rgba(255,255,255, 0.4)) !important;
  border-image-slice: 1 !important;

}
@media(max-width :768px){
  section.testimonials:after {
    content: '';
    background: linear-gradient(180deg, rgba(85, 186, 147, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    z-index: -1;
}
.understand-slider{
  margin-left: 0px;
  padding-left: 19px;
}

ul.mb-3.nav.nav-tabs.nav-fill {
  border: none;
  display: block;
  text-align-last: start;
}
video.d-md-none {
  top: 15%;
  position: static !important;
  padding-top: 10px;
  z-index: 1;
  right: 20%;
}
}
.collapse:not(.show) {
  display:none ;
}
.d-md-none{
  display: block !important;
}

video.d-md-none {
  top: 15%;
  position: absolute ;
  padding-top: 10px;
  z-index: 1;
  right: 20%;
}

section.understand-stock-market.bg-black.pt-10.position-relative {
  width: 100%;
}
@media(max-width :992px){

  
  .understand-slider.pt-5 {
    margin-left: 3px !important;
}
  .text-slide-video {
    text-align: -webkit-center;
}
.dropdown {
  margin-left: 45px;
  margin-bottom: 13px;
}



 .understand-top-head{
  text-align: center;
 }
  .understand-content {
    width: 100%;
  }

}
/* -----blog-------- */

img.card-img-top {
  padding: 15px;
  max-width: 515px;
  object-fit: cover;
  background-position: center;
  max-height: 350px;
  background-size: cover;
}
h5.card-title-blog {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  font-weight: 700;
}

.card-body-blog {
  padding: 0px 15px;
}

p.card-text-blog {
  color: white;
  text-align: justify;
  overflow: hidden;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 500;
}
button.btn.btn-outline-success {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 28px;
  color: white;

  padding: 8px;
  background:url("../../public/btn background.png");
  background-size:cover;
  background-position: center;
}

.card-blog {
  background: hsla(0,0%,85%,.1);
  
}


/* ----about-blog--- */

h5.card-title-blog-about {
  color: white;
}


p.card-text-blog-about.py-3 {
  color: white;
  text-align: inherit;
  font-size: 19px;
}
h5.card-title.blog-about {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
img.card-img-top.blog-about {
  background-position: center;
  background-size: cover;
  padding: 3px 2px;
}
.blog-about-bold {
  text-align: end;
}
.card-blog-about {
  background: #0e0d0d;
  padding: 10px;
  margin: 5px;
}
@media(max-width:480px){
  .justify-content-end {
    position: absolute;
    justify-content: flex-end !important;
    top: -33px;
    right: 0px;
    height: 100vh;
    z-index: 8;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: auto;
}
}

.card-title.text-light.blog-about{
  font-size: 23px;
}
@media(max-width:281px){
  .title {
    font-size: 25px;
    line-height: 42px;
}
  .subtitle-large {
    font-size: 48px;
    font-family: sans-serif;
    line-height: 61px;
    margin-top: -13px;
}


}
h6.start-date.text-light {
  font-size: 12px;
}
/* dropdown */
.dropbtn {
  color: white;
  font-size: 18px;
  border-radius: 10px;
}
img.blog-detail-image {
  height: 61vh!important;
}
img.blog-item-image {
  margin-bottom: 22px;
}
p.card-text {
  font-size: 17px;
  text-align: justify;
}


.dropdown {
  position: relative;
  display: inline-block;
  float: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
img.star-why {
  margin-right: -10px;
  margin-top: -115px;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
border: none;
}

ul.mb-3.nav.nav-tabs.nav-fill {
  border: none;
  text-align-last: start;
}
button#fill-tab-example-tab-Home,
button#fill-tab-example-tab-Learn,
button#fill-tab-example-tab-Play,
button#fill-tab-example-tab-Market {
  font-size: 17px;
  line-height: 18px;
}
